numpy==1.23.5
git+https://github.com/openai/whisper.git
pandas==1.5.2
scipy==1.11.4
soundfile==0.12.1
meeteval==0.1.0
omegaconf==2.3.0
psutil== 5.9.7
sounddevice==0.4.6
tqdm==4.66.1
ffmpeg
# Note that CUDA drivers are backward-compatible in some cases. See https://docs.nvidia.com/deploy/cuda-compatibility/.
-f https://download.pytorch.org/whl/cu117/torch_stable.html
torch==1.13.1+cu117
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
git+https://github.com/gburlet/YouTokenToMe.git@dependencies    # https://github.com/VKCOM/YouTokenToMe/pull/108
nemo_toolkit[all]
